{% extends "main/base.html" %}

{% block content %}
  <div id="about">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">About</h2>
      <p> A recent Zoology graduate (University of Leeds) working as an intern at London Array Offshore Windfarm. 
        I have a strong interest in the environment and sustainability - working at London Array allows me to explore these interests further
        and do so in a way that helps me contribute towards fighting the climate crisis. Previous to working at London Array, I spent several
        months as an intern at Tesco, working in the technology department. This experience provided me with a strong techincal understanding and deepened
        my appreciated for the practical uses of technology. In the future, I would like to find a way to combine the skills I have learnt from both internships;
        perhaps by creating a new technology designed to positively impact the environment. 
        In my free-time, I enjoy finding ways to combine sustainability with my other interests (such as business, economics and STEM subjects).
        For example, I manage a stocks and shares portfolio that focuses on sustainable development, run a small business that 
        promotes the recycling of second-hand clothes and volunteer for Leeds City Museum on an environment based project that
        encourages young girls to pursue STEM subjects.

      </p>
    </div>
    <p><strong>Contact Via email</strong></p>
    <p>katiecantwell@outlook.com</p>
    <p><strong>Mobile</strong></p>
    <p>+447365114417</p>
  </div>
  </div>
{% endblock %}
