{% extends "main/base.html" %}

{% block content %}
  <div id="about">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">About</h2>
      <p>Final year student at the University of Leeds completing my Bsc in Zoology. I have a strong affinity for nature and statistical work
        which I have developed over recent years through financial and technological analysis. Through learning R and python
        I have extended my range of skills to pursue my personal and academic interests.
      </p>
    </div>
    <p><strong>Contact Via email</strong></p>
    <p>katiecantwell@outlook.com</p>
    <p><strong>Mobile</strong></p>
    <p>+447365114417</p>
  </div>
  </div>
{% endblock %}
