{% extends "main/base.html" %}

{% block content %}
  <div id="projects">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">Personal Interests</h2>
      <p>
        Bellow are a selection of personal interests and academic/personal projects:</p>
      <ul>
        <li><strong>Counting Cows</strong></li>
        <p>
          Counting cows was pretty lit ngl
        </p>
        <li><strong>Stock trading</strong></li>
        <p>
          info about that
        </p>
        <li><strong>being a bellend</strong></li>
        <p>
          being a bellend has been a difficult accomplishment but one I have strived very hard in acomplishing.
        </p>
        <li><strong>...</strong></li>
        <p>
          ...

        </p>

      </ul>

    </div>
  </div>
  </div>
{% endblock %}
