{% extends "main/base.html" %}

{% block content %}
  <div id="projects">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">Personal Interests</h2>
      <p>
        Below are a selection of personal interests and academic/personal projects:</p>
      <ul>
        <li><strong>Running a small business</strong></li>
        <p>
          After struggiling to find a job when I was 17, I started a small shop selling second-hand clothes. The aim of this was to not only find a source of income but to do so in a manner that promotes sustainability.
          I still run this shop but due to university don't have as much time to dedicate to it.

        </p>
        <li><strong>Stock trading</strong></li>
        <p>
          I manage a personal portfolio specialising in companies that are sustainability focussed. In 2020 saw a return of 92%.
        </p>
        <li><strong>Learning to code</strong></li>
        <p>
          During summer 2020 I began learning how to code. I initially started with R as my final year research project heavily involves this programme. I have since begun learning python.
        </p>
        <li><strong>Wellbeing</strong></li>
        <p>
        I'm a firm believer in maintaining an optimal mental state - theres no better way to do this than by being mindful.
        In order to keep both my mind and body healthy I regularly partake in yoga classes and meditate daily.
        Alongside this, I dedicate time to relaxing activities for example, I'm a keen botanist and enjoy spending time propagating and maintaining plants.


        </p>

      </ul>

    </div>
  </div>
  </div>
{% endblock %}
